/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

figure,article {
    height: 80%;
    position: relative;
    border: 5px solid black;
    transition: background-color.5s;
    display:block;
}
a {
    display: block;
    position: relative;
}
/*img:hover {
    opacity: 0.4;
    filter: alpha(opacity=100);  For IE8 and earlier 
}*/

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

figure:hover,article:hover .middle {
    opacity: 0.9;
}

figure:hover,article:hover {
    opacity: 0.9;
    background-color: rgba(255,176,2,.95);
}
    article:hover #middle, #bkg, #imgBkg {
        opacity: 0;
    }

figure:hover img {
    opacity: 0;
}

    article:hover .imgBkg {
        opacity: 0;
    }

    article:hover .h3new {
        opacity: 0;
    }
#imageCat {
    max-height: 45%;
    max-width: 45%;
    opacity: 1;
}


#bkg {
    max-height: 50%;
    max-width: 50%;
    opacity: 0;
    padding: 0;
    margin: 0;
    
}

.text {
    color: black;
    font-display: block;
    opacity: 1;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    top: 50%;
    font-family: Montserrat;
}

.imgTable {
    max-width: 60%;
    
    position: relative;
    top: 10px;
}
#imgFile {
    max-width: 90%;
    max-height: 90%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

img {
    max-width: 70%;
    /*min-width: 300px;*/
    height: auto;
}

.visible-mobile {
    display: none !important;
}

a {
    color: black;
    text-align: center;
}

@media (max-width: 489px) {
    .visible-mobile {
        display: inline !important;
    }

    .hidden-mobile {
        display: none !important;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 10px;
    }

    .body-content {
        padding: 0;
    }
}

* {
    box-sizing: border-box;
}


.navbar-brand span {
    color: black;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.navbar-brand {
    letter-spacing: 0.1em;
    top: 0; /* Position the navbar at the top of the page */
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    font-family: 'Gothic A1', sans-serif;
}

    .navbar-nav .nav-item .nav-link:hover {
        color: black;
    }

.navbar-expand-md .navbar-nav .dropdown-menu {
    border-top: 3px solid black;
}

.dropdown-item:hover {
    background-color: black;
    color: black;
}

nav {
    -webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
#banner {
    background-color: rgba(255,176,2,.95);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    top: 0%;
}
