/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

#imgFile {
    max-width: 50px;
    max-height: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 10px;
    }

    .body-content {
        padding: 0;
    }
}

* {
    box-sizing: border-box;
}

/* Style the navbar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

    /* Navbar links */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Navbar links on mouse-over */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Active/current link */
        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }

    /* Style the input container */
    .topnav .login-container {
        float: right;
    }

    /* Style the input field inside the navbar */
    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
    }

